@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-Regular.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-Light.woff2') format('woff2');
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-Bold.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-ExtraBold.woff2') format('woff2');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-Black.woff2') format('woff2');
  font-weight: 900; /* Black */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NexonLv1Gothic';
  src: url('/fonts/NexonLv1Gothic-Light.woff2') format('woff2');
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NexonLv1Gothic';
  src: url('/fonts/NexonLv1Gothic-Regular.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NexonLv1Gothic';
  src: url('/fonts/NexonLv1Gothic-Bold.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSans-Light.woff2') format('woff2');
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSans-Medium.woff2') format('woff2');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSans-Bold.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fontN: 'NanumSquareNeo', sans-serif;
  --fontX: 'NexonLv1Gothic', sans-serif;
  --fontG: 'GmarketSans', sans-serif;
  --fontP: 'Poppins', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 16%;

    --black100: #000000;
    --black200: #282727;
    --black300: #373737;
    --black400: #454545;
    --black500: #505050;
    --black600: #656565;
    --black700: #737373;
    --black800: #8a8a8a;
    --black900: #9b9b9b;

    --white100: #ffffff;
    --white200: #f1f1f1;
    --white300: #e7e7e7;
    --white400: #dddddd;
    --white500: #d1d1d1;
    --white600: #c7c7c7;
    --white700: #b7b7b7;
    --white800: #acacac;
    --white900: #9b9b9b;
  }
  .dark {
    --background: 0 0% 16%;
    --foreground: 0 0% 96%;

    --black100: #ffffff;
    --black200: #f1f1f1;
    --black300: #e7e7e7;
    --black400: #dddddd;
    --black500: #d1d1d1;
    --black600: #c7c7c7;
    --black700: #b7b7b7;
    --black800: #acacac;
    --black900: #9b9b9b;

    --white100: #000000;
    --white200: #282727;
    --white300: #373737;
    --white400: #454545;
    --white500: #505050;
    --white600: #656565;
    --white700: #737373;
    --white800: #8a8a8a;
    --white900: #9b9b9b;
  }
}

@layer components {
  /* header */
  .nav {
    @apply absolute left-1/2 top-[99px] bg-background px-3 translate-x-[-50%] font-poppins;
  }
  .nav__ul {
    @apply grid gap-x-3 p-4 w-[620px] grid-cols-[.55fr_1fr];
  }
  .nav__ul a {
    @apply rounded-md;
  }
  .nav__link {
    @apply flex h-full w-full select-none flex-col justify-end rounded-md bg-zinc-200/70 p-6 no-underline outline-none;
  }
  .nav__link div {
    @apply mb-2 text-lg font-medium;
  }
  .nav__link p {
    @apply text-sm font-nanum leading-5 text-zinc-600 break-keep;
  }
  .nav__hover {
    @apply hover:bg-zinc-200/40 rounded-md p-3 font-nanum;
  }
  .nav__hover div {
    @apply font-bold mb-1 font-nanum text-sm;
  }
  .nav__hover p {
    @apply line-clamp-2 leading-5 text-zinc-500 text-sm;
  }

  /* main */
  .main__container {
    @apply max-w-6xl mx-auto mt-7 sm:mt-14 p-4 min-h-[40vh];
  }

  /* footer */
  .footer__container {
    @apply max-w-6xl mx-auto p-4 mt-20;
  }

  /* page */
  .page__title > h2 {
    @apply text-2xl md:text-3xl font-nexon mb-2;
  }
  .page__title > p {
    @apply text-zinc-500 mb-2 leading-6 text-sm break-keep;
  }

  /* cards */
  .page__card {
    @apply grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 mt-6 border-b pb-8 border-b-zinc-200;
  }
  .card__images {
    @apply relative block;
  }
  .card__images > img {
    @apply rounded-md transition-all duration-500 ease-in-out;
  }
  .card__images > .link {
    @apply absolute inset-0 flex gap-1 items-center justify-center opacity-0 transition-opacity duration-300;
  }
  .card__images > .link a {
    @apply bg-black p-2 rounded-full cursor-pointer hover:bg-zinc-800;
  }
  .card__images > .link a svg {
    @apply h-4 w-4 text-white;
  }

  /* common */
  .circle {
    @apply w-9 h-9 bg-background rounded-full items-center justify-center border ring ring-gray-300/20 hover:ring-gray-300/60 flex cursor-pointer;
  }
  .line {
    @apply relative w-full;
  }
  .line::before {
    content: '';
    @apply absolute left-0 top-1/2 w-full h-[1px] bg-black/20 dark:bg-white/20 -translate-y-1/2 z-[-1];
  }
  .uline {
    @apply underline underline-offset-4;
  }
  .sperator {
    @apply text-center text-black700 text-sm;
  }
  .sperator span {
    @apply bg-background px-4;
  }
  .tooltip {
    @apply w-4 h-4 select-none absolute right-0 top-2 text-zinc-400 hover:text-zinc-800 transition-all duration-500;
  }
  .small {
    @apply text-zinc-500 text-[10px] pl-1;
  }
  .likes {
    @apply bg-red-500 rounded-md text-xs text-white px-1 flex items-center justify-center;
  }
  .noData {
    @apply col-span-3 border-t py-40 text-center text-red-600;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--fontN), var(--fontP);
  }
}
